---
import Base from "../../layouts/Base.astro";
import Header from "../Header.astro";
import Hero from "../Hero.astro";
import Marquee from "../Marquee.astro";
import Stats from "../Stats.astro";
import Collection from "../Collection.astro";
import Categories from "../Categories.astro";
import Service from "../Service.astro";
import About from "../About.astro";
import Process from "../Process.astro";
import Testimonials from "../Testimonials.astro";
import Contact from "../Contact.astro";
import Footer from "../Footer.astro";
---

<Base>
  <Header />
  <main>
    <Hero />
    <Marquee />
    <Stats />
    <Collection />
    <Categories />
    <Service />
    <About />
    <Process />
    <Testimonials />
    <Contact />
  </main>
  <Footer />
</Base>
