---
import Base from "../../layouts/Base.astro";
import Header from "../Header.astro";
import Hero from "../Hero.astro";
import Marquee from "../Marquee.astro";
import Stats from "../Stats.astro";
import Collection from "../Collection.astro";
import Categories from "../Categories.astro";
import ServiceTeaser from "../ServiceTeaser.astro";
import AboutTeaser from "../AboutTeaser.astro";
import Testimonials from "../Testimonials.astro";
import Footer from "../Footer.astro";
---

<Base>
  <Header />
  <main>
    <Hero />
    <Marquee />
    <Stats />
    <Collection />
    <Categories />
    <ServiceTeaser />
    <AboutTeaser />
    <Testimonials />
  </main>
  <Footer />
</Base>
